/* Generals */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(8,59,76,255);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

.bacColBlu{
    background-color: rgba(18,133,173,255);
}

.bacColGre{
    background-color: rgba(12,207,157,255);
}

.bacColYel{
    background-color: rgba(243,202,100,255);
}

.bacColRed{
    background-color: rgba(240,70,111,255);
}
/* Container */
#container{
    width: 90%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.celle{
    width: 10%;
    aspect-ratio: 1;
    padding: 0.5rem;
}

.celle > div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numeri{
    font-size: 1.5rem;
}